<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form">
        <input type="text" placeholder="Nombre" id="name">
        <input type="text" placeholder="Documento" id="document">
        <input type="mail" placeholder="Correo" id="mail">
        <input type="mail" placeholder="Direccion" id="direccion">
        <select name="" id="rol">
            <option value="1">Admin</option>
            <option value="2">Vendedor</option>
            <option value="3">Cliente</option>
        </select>
    </form>
</body>
</html>